<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Entry</title>
</head>
<body class = "indexBody">
    <h1 class="editH1">Edit Entry:</h1>
    <div class="editContainer">
    <form action="/books/<%=books._id%>?_method=PUT" method="POST">
    <span class="formTitles">Title:</span><br><input class="newFormField" type="text" name="title" value="<%= books.title %>"> 
    <br>
    <span class="formTitles">Author:</span><br><input class="newFormField" type="text" name="author" value="<%= books.author %>"> 
    <br>
    <span class="formTitles">Book Cover Image:</span><br><input class="newFormField" type="text" name="image" value="<%= books.image %>"> 
    <br>
    <span class="formTitles">Rating:</span><br><input class="newFormField" type="text" name="rating" value="<%= books.rating %>"> 
    <br>
    <span class="formTitles">Synopsis:</span><br>
    <textarea class="newFormField" rows = "20" cols = "80" input type="text" name="synopsis" id="synopsis" autocomplete="on">
        <%= books.synopsis %>
    </textarea>
    <br>
    <input class = "editButtons" style= "font-size: medium; background-color: tan; color: black;" type="submit" value="submit" style="text-decoration: none; color: black; background-color: tan"/>
    <button class = "editButtons" style= "font-size: medium" type="button"><a href="/books" style="text-decoration: none; color: black;">Back</a></button>
    </form>
    <form action="/books/<%=books._id%>?_method=DELETE" method="POST">
        <input id = "deleteButton" class = "editButtons" style= "font-size: medium; background-color: tan; color: darkred;" type="submit" value="Delete Book" style="text-decoration: none; color: black; background-color: tan">
        </form>
    </div>
</body>
</html>