<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=books.title%></title>
</head>
    <h2><%=books.title%></h2>
    <h4><%=books.author%></h4>
    <h3><img src="<%=books.image%>" alt="Book Cover Image"></h3>
    <h4>Rating (0-5 stars): <%=books.rating%> stars</h4>
    <h5>Synopsis: <%=books.synopsis%></h5>
    <button type="button"><a href="/books/<%= books._id %>/edit" style="text-decoration: none; color: black;">Edit Entry</a></button>
    <button type="button"><a href="/books" style="text-decoration: none; color: black;">Back</a></button>
<body>
    
</body>
</html>