<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=books.title%></title>
</head>
<body class = "showBody">
    <h2><%=books.title%></h2>
    <h4 class = "bookAuthor"><%=books.author%></h4>
    <h3><img class="bookCover" src="<%=books.image%>" alt="Book Cover Image"></h3>
    <div id="stars">
        <%= function starRating(books.rating) { %>
        <%= let stars = ""; %>
        <%= for (let i = 1; i <= books.rating; i++) {%>
            <%= stars += "<div class ='star'></div>"; %>
       <%= } %>
       <%= document.getElementById("stars").innerHTML = stars; %>
    <%= } %>
    <%= starRating(books.rating) %>
</div>
    <p class="synopsis">Synopsis: <%=books.synopsis%></p>
    <button class="editButton" type="button"><a href="/books/<%= books._id %>/edit" style="text-decoration: none; color: black;">Edit Entry</a></button>
    <br>
    <button class = "backButton" type="button"><a href="/books" style="text-decoration: none; color: black;">Back</a></button>
        
</body>
</html>